.hero {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 15%;
    margin-bottom: 8px;

    .hero-content {
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }

    .hero-about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin-top: 35px;
        margin-bottom: 8px;
        color: var(--color-primary-light);
    }

    .sub-title {
        margin-top: -30px;
        margin-bottom: 10px;
    }

    .lead-text {
        flex-grow: 1;
    }

    button {
        margin-bottom: 44px;
    }

    img {
        margin-top: 20px;
        width: 35%;
        border-radius: 8px;
        object-fit: cover;
    }
}

.hero-background {
    position: absolute;
    height: calc(100% - 20px);
    width: 100vw;
    background-color: rgba(110, 110, 110, 0.9);
    z-index: -1;
}