.customers-say-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;

    h2 {
        margin-top: 0;
        margin-bottom: 70px;
        font-family: 'Markazi Text', sans-serif;
        font-size: 36px;
    }

    .customers-say-reviews {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
    }
}