.specials {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .specials-cards {
        display: flex;
        gap: 8px;
        justify-content: space-between;

        > div {
            width: 30%;
        }
    }
}