.booking-form {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px;

    .title {
        margin-top: 8px;
        margin-bottom: 8px;
        color: var(--color-primary-light);
    }

    form {
        display: grid;
        max-width: 300px;
        gap: 20px;

        background-color: var(--color-secondary-3);
        padding: 16px;
        border-radius: 16px;

        fieldset {
            padding: 0;
            margin: 0;
            border: none;

            label {
                display:inline-block;
                margin-bottom: 8px;
            }

            input, select {
                width: 100%;
                box-sizing: border-box;
                border: solid 1px var(--color-secondary-2);
                border-radius: 8px;
                padding: 2px 6px;
            }
        }

        label {
            font-size: 16px;
            font-weight: 600;
        }

        .button {
            padding: 12px;
        }
    }
}

.booking-background {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: rgba(110, 110, 110, 0.9);
    z-index: -1;
}